.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 24px; 
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border: 1px solid transparent; 
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  background:linear-gradient(to bottom, rgba(165, 222, 234, 0.901), white);
  padding: 16px;
  border-radius: 8px;
}
.card-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;   /* 100% of Viewport Width */
  height: 100vh;  /* 100% of Viewport Height */
  z-index: 999;   /* Sit on top of everything else */
  background: white;
  margin: 0;
  padding: 40px;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-color: #3b82f6; 
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
h1{
  text-align: center;
  margin-bottom: 40px;
}
button {
  background-color: #3e84f6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2d43e8; 
  box-shadow: 
    0 0 8px rgba(16, 103, 242, 0.6),  
    0 0 20px rgba(59, 130, 246, 0.4),
    0 0 40px rgba(13, 97, 233, 0.2); 
  transform: scale(1.02);
}
.fullscreen-content {
  width: 100%;
  max-width: 800px; /* Optional: keeps the quiz centered and readable */
  margin: 0 auto;
}
