.navbar-container{
  display: flex;
  gap: 1rem;
  
  padding: 1rem;
  background-color: #333;

}
.nav-link{
  color:white;
  text-decoration: none;    
  font-size: 18px;
  transition: color 0.3s ease;
}
.nav-link:hover{
  color: #61dafb;
} 