.navbar-container{
  display: flex;
<<<<<<< HEAD
  gap: 1rem;
  
=======
  justify-content: space-between;
>>>>>>> 724173dcde9e744336a3707229d49de66a264df2
  padding: 1rem;
  background-color: #333;

}
.nav-link{
  color:white;
  text-decoration: none;    
  font-size: 18px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav-link:hover{
  color: #cd1b0f;
  background-color: white;
} 
img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}